:root {
  --primary-color: white;
  --secondary-color: #4089ED;
  --body-color: #4e555b;
}
body {
  color: var(--body-color) !important;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.backgroud-secondary {
  background-color: var(--secondary-color) !important;
}
.text-primary {
  color: var(--primary-color) !important;
}
.social_item {
  display: inline-block;
  margin-right: 1.25rem;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.social_icon {
  color: var(--primary-color) !important;
  display: inline-block;
}

.input-group-text {
  background-color: var(--primary-color);
}
.rounded {
  border-radius: 1rem !important;
}
.input-group-lg>.input-group-prepend>.input-group-text {
  border-top-left-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
}
.input-group>.input-group-append>.btn {
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}
.subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  color: var(--primary-color);
}
.corp-name {
  padding: 25px 0 120px;
  text-align: center;
}
.logo-header {
  height: 100px;
}
.logo-header-nav{
  height: 50px;
}
.logo-footer {
  height: 160px;
}
.img {
  background: no-repeat center center;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  max-width:100%;
  height:auto;
}
.img-footer{
  padding: 10% 5% 5% 5%;
}
.logo-footer-position{
  position: absolute;
  top: 29%;
  left: 4.5%;
}
.portfolio-area {
  padding: 5rem;
}
.carol-size-1 {
  width: 400px;
  height: 240px;
}
.video-size {
  width: 100% !important;
  height: 371px;
}
.backgroud-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
}
.backgroud-wrapper .left {
  height: 70vh;
  position: absolute;
  left: 0;
  top: 0;
}
.backgroud-wrapper .right {
  height: 50vh;
  position: absolute;
  right: 0;
  bottom: -130px;
}
.float-none .center {
  position: absolute;
  margin-left: 18%;
  margin-top: 15;
  height: 600px;
}

.group {
  position: relative;
  width: 100%;
  height: 100%;
}
.layer {
  height: 100%;
  width: 100%;
  position: absolute;
}
.copyright-box {
  height: 50px;
  width: 100%;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.copyright-text {
  padding-top: 0.75rem;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a2a2a2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #535151;
}

.masthead {
  background: no-repeat center center;
  /* background-color: #868e96; */
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  height: 430px;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #181b1d;
  opacity: 0.5;
}

.content-footer{
  background-image: url('../img/QNH/backgroud-bottom.png');
}

.footer-mobile {
  display: none;
}
.footer-desktop {
  display: block;
}

.container-desktop, .left-right-decorate, .right-info-desktop{
  display: block;
}

.right-info-padding {
  padding-right: 0;
  padding-left: 30%;
}
.carousel{
  width: 100% !important;
}
.carousel-item .img{
  width: 75% !important;
}
.carousel-item .col-md-6{
  float: right;
}

.container-mobile, .right-info-mobile{
  display: none;
}
.collapse-button{
  display: none;
}
.close-item{
  display: none;
}
.right-info-title{
  text-align: left;
}
.backwrap-mobile{
  display: block;
}
@media only screen and (min-width: 1800px) {
  .left {
    height: 35vh!important
  }
  .right{
    height: 35vh!important
  }
}
@media only screen and (max-width: 1799px){
  .left {
    height: 35vh !important;
  }
  .right{
    height: 35vh!important
  }
  .carousel-item .img {
    width: 100% !important;
  }
}
@media only screen and (min-width: 1400px) {
  .right-info-mobile {
    display: none !important;
  }
  #bottom-content, .right-info-desktop {
    display: block !important;
  }
  .carousel-inner {
    width: 70% !important;
  }
  .carousel-item .img {
    width: 100% !important;
  }
}
@media only screen and (max-width: 1400px) {
  .float-none .center{
    height: 400px!important
  }
  .right-info-padding{
    padding-left: 26%;
  }
  .right-info-mobile {
    display: none !important;
  }
  #bottom-content, .right-info-desktop {
    display: block !important;
  }
  .carousel-item .img {
    width: 100% !important;
  }
  .carousel-inner{
    width: 70% !important;
  }
  .right{
    height: 25vh!important
  }
  .left{
    height: 25vh!important
  }
}
@media only screen and (max-width: 1024px){
  .bwrap-mobile{
    display: none;
  }
  .right-info-padding {
    padding-right: 0 !important;
    padding-left: 5% !important;
  }
  .float-none .center{
    margin: 0;
    height: 415px !important;
  }
  .portfolio-area {
    padding: 2.5rem;
  }
  .input-group-text{
    display: none;
  }
  .quote-email-tablet{
    margin-left: 2rem !important;
    border: none;
    text-align: center !important;
  }
  .mt-n5{
    margin-top: 0 !important;
  }
  .right-info-mobile {
    display: none !important;
  }
  #bottom-content, .right-info-desktop {
    display: block !important;
  }
  .carousel-item .img {
    width: 100% !important;
  }
}
@media only screen and (max-width: 992px) {
  .navbar-collapse {
    position: absolute;
    top: 54px;
    right: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    transition: all 0.3s ease;
    display: block !important;
    background-color: rgb(40, 48, 59);
}
.navbar-collapse.collapsing {
    height: auto !important;
    margin-right: 50%;
    transition: all 0.3s ease;
    display: block !important;
}
.navbar-collapse.show {
    right: 0;
}
.carousel-item .img {
  width: 100%!important;
}
.p-3{
  width: 100% !important;
}
.carousel-inner {
  width: 100%!important;
}
.portfolio-area{
  text-align: left !important;
}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .right-info-mobile{
    display: none;
  }
  .right-info-desktop, #bottom-content{
    display: block;
  }
}
@media  only screen and (max-width: 767px) {
  .float-none{
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .carol-size-1 {
    width: 100%;
    height: 240px;
  }
  .portfolio-area{
    text-align: right;
  }
  .content-footer-position{
    padding-top: 7%;
  }
  .right-info-mobile{
    display: block;
  }
  .right-info-desktop, #bottom-content{
    display: none;
  }
}